* {
  box-sizing: border-box;
}

.container {
  width: auto;
  padding-right: 35px;
  padding-left: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  position: sticky;
}
.skills {
  height: 2.5rem;
  text-align: left;
  padding: 10px 10px 10px 10px;
  text-shadow: 1px 1px 2px black,
  0 0 25px rgba(187, 255, 0, 0.63),
  0 0 5px rgba(0, 56, 139, 0.74);
  border-radius: 30px;
  margin: -20px 0 -2px;
  box-shadow: 1px 1px 2px black,
  0 0 25px rgba(132, 200, 255, 0.521),
  0 0 5px rgb(141, 141, 141);
}
.html {
  width: 70%;
  color: #ff820d;
}
.css {
  width: 50%;
  color: #2196F3;
}
.js {
  width: 15%;
  color: #f4e136;
}
.php {
  width: 30%;
  color: #808080;
}
.edv {
  width: 80%;
  color: #0059a1;
}
.photoshop {
  width: 60%;
  color: #880f0f;
}
.html,
.css,
.php,
.js,
.edv,
.photoshop {
    transition: background-color 2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.html:hover {
  background-color: #ff820d;
  color: white;
  width: 70%;
}
.css:hover {
  background-color: #2196F3;
  color: white;
  width: 50%;
}
.js:hover {
  background-color: #f4e136;
  color: white;
  width: 15%;
}
.php:hover {
  background-color: #808080;
  color: white;
  width: 30%;
}
.edv:hover {
  background-color: #0059a1;
  color: white;
  width: 80%;
}
.photoshop:hover {
  background-color: #880f0f;
  color: white;
  width: 60%;
}